/*
--------------------------------------------------------------------------
 Global Override Classes
--------------------------------------------------------------------------
*/
*{
  margin: 0;
  padding: 0
}
/*
--------------------------------------------------------------------------
 Body Override Classes
--------------------------------------------------------------------------
*/
body{
  /* background-color: #F2F3F7; */
  background-color: #fff;
  font-family: 'jamsRegular', sans-serif;
}
a{
  text-decoration: none;
  color: #0060a7;
}
a:hover{
  text-decoration: none;
}

/*
--------------------------------------------------------------------------
 Fontface Classes
--------------------------------------------------------------------------
*/
@font-face {
  font-family: jamsRegular;
  src: url(../fonts/jams.woff2);
}
@font-face {
  font-family: jamsLight;
  src: url(../fonts/jams-Light.woff2);
}
@font-face {
  font-family: jamsBold;
  src: url(../fonts/jams-Bold.woff2);
}
@font-face {
  font-family: jamsMedium;
  src: url(../fonts/jams-Medium.woff2);
}
@font-face {
  font-family: jamsSourcesansPro;
  src: url(../fonts/sourcesanspro-regular.woff2);
}


/*
--------------------------------------------------------------------------
 Background Color Classes
--------------------------------------------------------------------------
*/
/* Start Scroll Bar Design */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #b30000; */
    background-color: #ffd400;
    /* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to bottom, #0060a7, #0060a7);
}
/* End Scroll Bar Design */

/*
--------------------------------------------------------------------------
 Background Color Classes
--------------------------------------------------------------------------
*/
.bg-pico{
  background-color: #c4161c;
  color: #fff;
}
/* BG Color Classes */
.bg-orange{
  background-color: #f75b00;
}
.bg-orange, .bg-orange a{
  color: #fff;
}
.bg-casal{
  background-color: #415355;
}
.bg-casal, .bg-casal a{
  color: #fff;
}
.bg-blue-ali{
  background-color: #12225B;
  color: #fff;
}
.bg-accent{
  background: #0060a7;
  color: #fff;
}
.bg-inde-blue{
  background: #0060a7;
  color: #fff;
}
.bg-inde-purple{
  background: #b40f47;
  color: #fff;
}
.bg-trust{
  background: #2176BD;
  color: white;
}

/*
--------------------------------------------------------------------------
 Background Color Classes
--------------------------------------------------------------------------
*/
.text-accent{
  color: #0060A7;
}
/*
--------------------------------------------------------------------------
Btn Classes
--------------------------------------------------------------------------
*/
.btn-pico-lg{
  background-color: #c4161c;
  color: #fff;
  width: 10em;
  border-radius: 0;
  padding: 0.5em 0;
}
.btn-pico-lg:hover{
  background-color: #0060a7;
  color: #fff;
}

/*
--------------------------------------------------------------------------
 Topbar Classes
--------------------------------------------------------------------------
*/
.topbar{
  height: 35px;
  background-color: #ECECEC;
}
.topbar> .container{
  position: relative;
}
.topbar ul{
  height: 100%;
  line-height: 35px;
  position: absolute;
  right: 0;
  padding: 0 16px;
}
.topbar ul li{
  list-style: none;
  display: inline-block;
}
.topbar ul .facebook:hover{
  background-color: #4267B2;
}
.topbar ul .twitter:hover{
  background-color: #20A2F2;
}
.topbar ul .pinterest:hover{
  background-color: #E60023;
}
.topbar ul .linkedin:hover{
  background-color: #0077B5;
}
.topbar ul .medium:hover{
  background-color: #262729;
}
.topbar ul .email:hover{
  background-color: #4267B2;
}
.topbar ul .userinfo:hover, .userinfo *:hover{
  background-color: #4267B2;
}
.topbar ul .signin:hover, .signup:hover{
  background-color: #C4161C;
}
.topbar ul li a{
  font-size: 1em;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  line-height: inherit;
  transition: 0.3s;
  padding: 0 14px;
  display: block;
}
.topbar ul li a:hover{
  color: #fff;
}

/*
--------------------------------------------------------------------------
 Navbar Classes
--------------------------------------------------------------------------
*/
#stickyNavbar{
  position: fixed;
  top: 0;
  z-index: 1001;
  width: 100%;
  display: none;
}
.navbar-nav .nav-item{
  /* border-right: 1px solid #f5f5f5; */
}
/* .navbar-nav .nav-item .active{
  background-color: #c4161c;
  color: #fff !important;
}
*/
.navbar-nav .nav-item:last-child{
  border-right: none;
}
.navbar-nav .nav-link{
  font-size: 18px;
  transition: .3s;
}
.navbar-nav .nav-link:hover, .nav-link:active{
  color: #000 !important;
}
/* Navigation Bar Classes */
.brandLogo{
  height: 45px;
  width: auto;
}
.navbarSearch .form-control{
  width: 30em;
  height: 3em;
}
.navbarSearch .form-control, .btn{
  border-radius: 0;
}
.navbarSearch .btn{
  width: 3em;
}
.navbarSearch input{
  border: none;
  background-color: #ededed;
}
.navbarSearch input:focus{
  box-shadow: none;
  border: none;
  background-color: #ededed;
}
.cartIcon{
  font-size: 1.7em;
  color: #777777;
  margin: 0 0 0 2em;
  transition: 0.1s;
  position: relative;
}
.cartIcon:hover{
  color: #0060a7;
}
.favoriteIcon{
  font-size: 1.7em;
  color: #DA165E;
  margin: 0 1em;
  transition: 0.1s;
  position: relative;
}
.favoriteIcon:hover{
  color: #0060a7;
}
.value_counter{
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 10px;
  background-color: #0060a7;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  text-align: center;
  color: #fff;
}

/*
--------------------------------------------------------------------------
 Row Classes
--------------------------------------------------------------------------
*/
.row-header{
  height: 50px;
  width: auto;
  margin: 10px -15px;
  background-color: transparent;
  text-align: left;
  font-size: 24px;
  line-height: 50px;
  color: #000;
  text-transform: uppercase;
}
.row-img-header{
  max-height: 100px;
  width: auto;
  margin: 10px -15px 0 -15px;
}
.row-img-header img{
  height: 100%;
  width: 100%;
}

/* Small Device Media Query */
@media only screen and (max-width: 768px) {
  /* Logo */
  .brandLogo{
    height: 35px;
    width: auto;
  }
  /* Top Bar */
  .topbar {
    text-align: center;
  }
  /* Row Header */
  .row-header{
    text-align: center;
  }
  .row-img-header img{
    width: 100%;
  }
  /* Card */
  .card{
    max-height: 220px;
  }
  .copyright-body{
    text-align: center;
  }
}
.row-block-header{
  height: 50px;
  width: auto;
  margin: 10px -15px;
  background-color: #E5E2D1;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  color: #000;
}
/*
--------------------------------------------------------------------------
 Card Classes
--------------------------------------------------------------------------
*/
.products .card{
  min-height: 260px;
  transition: 0.2s ease-in;
}
.products .card:hover{
  border: 1px solid #DD528A;
  text-decoration: none;
}
.products .card, .card-img-top{
  border-radius: 0;
}
.products .card .card-body{
  padding: 5px;
}

/*
--------------------------------------------------------------------------
 Header Classes
--------------------------------------------------------------------------
*/
/* Header Category Classes */
.headerCategories{
  height: 100%;
}
.headerCategories ul{
  list-style: none;
  margin: 0 0 30px 0;
}

.headerCategories ul li a{
  display: block;
  padding: 0.25em 0.75em;
  color: #444;
  text-transform: uppercase;
  font-size: 0.9em;
}
/* .headerCategories ul li a:before{
  content: "\2022";
  padding-right: 5px;
  font-size: 1em;
  float: left;
  color: #999;
} */
.headerCategories ul li a:after{
  content: "\00bb";
  float: right;
}
.headerCategories ul li a:hover{
  text-decoration: none;
  color: #0079b3;
  background-color: #ededed;
}
.headerCategories ul li a i{
  padding-right: 0.5em;
  font-size: 1.25em;
}
/* Header Sub Category */
.subCategory{
  left: 100%;
  top: 0;
  max-height: 75vh;
  /* min-width: 770px; */
  min-width: 350px;
  background-color: #fff;
  box-shadow: -5px 5px 5px -1px rgba(0,0,0,0.25);
  overflow: hidden;
  position: absolute;
  z-index: 2;
  display: none;
}
.headerCategories .subCategory li a:after{
  content: "";
  display: none;
}
.headerCategories .mainCategory:hover .subCategory{
  display: block;
  height: 100%;
  overflow-y: scroll;
}
.headerCategories .mainCategory:hover .subCategory::-webkit-scrollbar {
    width: 5px;
}
.subCategory .card{
  float: left;
  height: 100%;
  width: 250px;
  border: 0;
  border-right: 1px solid #ededed;
  padding: 5px;
}
.subCategory .card:last-child{
  border: 0;
}


/* Header Slider Classes */
.headerSlider{
  height: 100%;
  width: 100%;
}
.headerSlider .mainSlider{
  height: 100%;
  width: 100%;
}

/*
--------------------------------------------------------------------------
 Slider Button Classes
--------------------------------------------------------------------------
*/
.btnLeft, .btnRight{
  position: absolute;
  z-index: 1;
  top: 50%;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 1.25em;
  padding: 10px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}
.btnLeft{
  left: 2.5%;
  transform: translateY(-50%) translateX(-50%);
}
.btnRight{
  right: 2.5%;
  transform: translateY(-50%) translateX(50%);
}
@media only screen and (max-width: 768px) {
  .btnLeft{
    left: 6%;
  }
  .btnRight{
    right: 6%;
  }
}
.headerSlider:hover .btnLeft, .commonProductSlider:hover .btnLeft, .relatedProductsManual:hover .btnLeft{
  opacity: 1;
}
.headerSlider:hover .btnRight, .commonProductSlider:hover .btnRight, .relatedProductsManual:hover .btnRight{
  opacity: 1;
}

/*
--------------------------------------------------------------------------
 Static Under Slider Classes
--------------------------------------------------------------------------
*/
.staticUnderSlider{
  display: block;
}
.staticUnderSlider .picture{
  float: left;
  height: auto;
  width: 25%;
  border-left: 1px solid #fff;
  overflow: hidden;
}
.staticUnderSlider .picture img{
  transition: 0.3s;
}
.staticUnderSlider .picture:hover img{
  transform: scale(1.15);
}
.staticUnderSlider .picture:first-child{
  border-left: 1px solid transparent;
}
.staticUnderSlider .picture img{
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .staticUnderSlider .picture{
    width: 50%;
    border: 1px solid #fff;
  }
}
/*
--------------------------------------------------------------------------
 Common Category Classes
--------------------------------------------------------------------------
*/
.commonCategories{
  background-color: #fff;
  height: 100%;
  padding: 0.5em 0;
}
.commonCategories .header{
  padding: 0.25em 0.75em;
  font-weight: bold;
  text-transform: uppercase;
}
.commonCategories ul{
  list-style: none;
}
.commonCategories ul li{
}
.commonCategories ul li a{
  display: block;
  padding: 0.25em 0.75em;
  color: #444;
  /* text-transform: uppercase; */
  font-size: 1em;
}
.commonCategories ul li a:hover{
  text-decoration: none;
  color: #0079b3;
  background-color: #ededed;
}
.commonCategories ul li a i{
  padding-right: 0.5em;
  font-size: 1.25em;
}
/* Common Product Slider Classes */
.commonProductSlider{
  background-color: #fff;
  height: 100%;
  width: 100%;
}
.commonProductSlider .card-title{
  margin-bottom: 0;
}
.commonProductSlider .col-md-3, .col-md-4{
  padding: 5px;
}

/*
--------------------------------------------------------------------------
 Common Category Page Classes
--------------------------------------------------------------------------
*/
.category{
  line-height: 20px;
  margin-bottom: 50px;
}
.category .header{
  font-size: 15px;
  color: #000;
  text-transform: uppercase;
}
.category .main .main-list, .sub .sub-list{
  list-style: none;
  transition: 0.3s;
}
.category .main .main-list .main-link{
  text-decoration: none;
  color: #000;
  display: block;
  font-weight: bold;
  padding: 2.5px 0;
}
.category .main .main-list:hover, .sub .sub-list:hover{
  background-color: #fff;
  padding-left: 10px;
}
.category .main .main-list:hover .main-link{
  color: #000;
}
.category .sub{
  padding-left: 5px;
}
.category .sub .sub-list .sub-link{
  text-decoration: none;
  color: #565656;
  display: block;
  padding: 2.5px 0;
}
.category .sub .sub-list:hover .sub-link{
  color: #000;
}

/*
--------------------------------------------------------------------------
 Single Prodct Page Classes
--------------------------------------------------------------------------
*/
.singleProduct{
  margin-top: 15px;
}
/* Main Contents/Left Side */
.singleProduct .mainContents{
  padding: 0;
}
.singleProduct .mainContents .row{
  margin: 0;
}
.singleProduct .productShow{
  background-color: #fff;
}
.singleProduct .mainContents .leftSide .mainImage{
  position: relative;
}
.singleProduct .mainContents .leftSide .mainImage .loveIcon, .lovedIcon {
  position: absolute;
  top: 3%;
  right: 3%;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
}
.singleProduct .mainContents .leftSide .mainImage .loveIcon .fas{
  font-size: 18px;
  line-height: normal;
  color: #cecece;
}
.singleProduct .mainContents .leftSide .mainImage .lovedIcon .fas{
  font-size: 18px;
  line-height: normal;
  color: #DA165E;
}
.singleProduct .mainContents .leftSide .mainImage .loveIcon:hover .fas{
  color: #0060A7;
}
.singleProduct .mainContents .leftSide .mainImage .lovedIcon:hover .fas{
  color: #0060A7;
}
.singleProduct .mainContents .leftSide, .rightSide{
  padding: 10px;
}
.singleProduct .mainContents .productShow .rightSide p{
  margin: 0;
}
.singleProduct .mainImage{
  max-height: 409px;
  max-width: 409px;
  overflow: hidden;
}
.singleProduct .mainImage img{
  height: 100%;
  width: 100%;
  /*border: 1px solid #f1f1f1;*/
}
.singleProduct .imageGallery{
  margin-top: 5px;
}
.singleProduct .imageGallery img{
  height: 99.5px;
  width: 99.5px;
  border: 1px solid #f1f1f1;
}
/* Specifications Table */
.tab-pane > table, thead, tr, td, tbody {
    border:1px solid #ededed;
    padding-left:5px;
}
.singleProduct .accordion h4{
  margin: 0;
}
.singleProduct .accordion .acctabbox{
  border: 1px dotted #d0d0d0;
  background-color: #fbfbfb;
  padding: 10px;
  margin-bottom: 10px;
}
/*Border*/
.bb-green-2{
    border-bottom: 2px solid #71C21B;
}
/* Main Content - Product Info */
.singleProduct .productInfo{
  background-color: #fff;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}
.pointer{
  cursor: pointer;
}
/* Product Review */
.singleProduct .productInfo .tab-content{
  margin-top: 15px;
}
.singleProduct .productInfo .tab-content .productReview{
  background-color: #fff;
}
.singleProduct .productInfo .tab-content .productReview *{
  border-radius: 0;
}
.singleProduct .productInfo #nav-tab a{
  color: #000;
}
/* Product Rating CSS */
.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 0
}
.star-rating input[type=radio] {
    display: none
}
.star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #0060A7
}
.rateActive{
  color: #0060A7;
}
.productReview .card-body{
  padding: 0;
}

/* Related Products */
.singleProduct .relatedProducts{
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  overflow: hidden;
}
.singleProduct .relatedProducts .header{
  display: block;
}
.singleProduct .relatedProducts .row{
  margin: 0;
}


/* Sidebar */
.singleProduct .sidebar{

}
.sidebar .sponsored{
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(255, 220, 195, 1), rgba(255, 255, 255, 1));
  min-height: 300px;
  padding: 10px;
}
.sidebar .suggestProducts{
  text-align: center;
  background-color: #fff;
}
.sidebar .suggestProducts .header{
  font-size: 15px;
  text-align: left;
  margin-bottom: 10px;
}
.sidebar .suggestProducts{
  color: #000;
  padding: 10px;
}
.sidebar .suggestProducts img{
  height: 78px;
  width: 78px;
}
.sidebar .suggestProducts .media{
  transition: 0.3s;
}
.sidebar .suggestProducts .media:hover{
  background-color: #ededed;
  text-decoration: none;
}
.sidebar .suggestProducts .media-body{
  text-align: left;
}
.sidebar .suggestProducts .media-body h6{
  font-size: 14px;
}
.sidebar .suggestProducts .media-body p{
  font-size: 12px;
  color: #000;
}


/*
--------------------------------------------------------------------------
 Blog Classes
--------------------------------------------------------------------------
*/
/* Blog Index Page */
.headerBackground{
  position: relative;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.headerBackground .headerBgInfo{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.headerBackground .headerBgInfo h1{
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  font-family: 'jamsBold', sans-serif;
  text-shadow: -3px 3px 10px #000;
  letter-spacing: 10px;
}
.headerBackground .headerBgInfo p{
  color: rgba(255, 255, 255, 0.75);
}
.blogindex .leftside{
  height: 500px;
  background-color: #ededed
}
.blogindex .rightside{
  height: 500px;
  background-color: #bababa
}

/*
--------------------------------------------------------------------------
 Contact Classes
--------------------------------------------------------------------------
*/
.filter{
  border-right: 1px solid #f3f3f3;
}
.filterMainList{
  list-style: none;
}

.filterMainList li a{
  display: block;
  padding: 0.25em 0.75em;
  color: #444;
  /* text-transform: uppercase; */
  font-size: 1em;
}
.filterMainList li a:hover{
  text-decoration: none;
  color: #0079b3;
  background-color: #ededed;
}
/*
--------------------------------------------------------------------------
 Contact Classes
--------------------------------------------------------------------------
*/
.authPage *, .storeAdd *, .card-header:first-child{
  border-radius: 0;
}
.authPage .card{
  background-color: transparent;
  border: 1px solid #e2e2e2;
}
.authPage input{
  border: none;
  background-color: #FBFBFB;
}
.authPage input:focus{
  box-shadow: none;
  border: none;
  background-color: #FBFBFB;
}
/*
--------------------------------------------------------------------------
 Contact Classes
--------------------------------------------------------------------------
*/
.contactForm *{
  border-radius: 0;
}
.contactForm .form-control {
  color: #495057;
  background-color: #fbfbfb;
  box-shadow: none;
}
.googleMap{
  margin-top: 5em;
}
.googleMap .mapHeader{
  margin-bottom: 1em;
}
.googleMap iframe{
  height: 500px;
  width: 100%;
}

/*
--------------------------------------------------------------------------
 Footer Classes
--------------------------------------------------------------------------
*/
.footer{
  border-top: 5px solid #bb9c00;
  padding: 3em 0;
  background-color: #ffd400;
  margin-top: 2em;
}
.footer .header{
  font-size: 20px;
  margin-bottom: 0.75em;
}
.footer p{
  font-size: 18px;
  color: #767676;
}
.footer ul{
  float: left;
}
.footer ul li{
  list-style: none;
}
.footer ul li a{
  text-decoration: none;
  color: #767676;
  font-size: 18px;
  margin: 5px 0;
}
.footer ul li a:hover{
  color: #c4161c;
}
.fooHeadset{
  font-size: 50px;
  color: #737373;
}
.fooNumber{
  font-size: 30px;
  color: #737373;
}
.fooSocial{
  display: block;
}
.fooSocial ul li{
  display: inline-block;
}
.fooSocial .social i{
  text-align: center;
  height: 40px!important;
  width: 40px!important;
  font-size: 18px;
  line-height: 40px!important;
  color: #0060a7;
  border: 1px solid #0060a7;
  border-radius: 50%;
  margin-bottom: 5px;
  transition: .3s;
}
.fooSocial .social i:hover{
  background-color: #0060a7;
  color: #fff;
}

/*
--------------------------------------------------------------------------
 Copyright Classes
--------------------------------------------------------------------------
*/

.copyright{
  color: #767676;
  padding: 2em 0;
  margin-bottom: 1.5em;
  border-top: 1px solid #bb9c00;
}
.copyright ul{
  list-style: none;
}
.copyright ul li{
  float: left;
}
.copyright ul li a{
  text-decoration: none;
  color: #767676;
  display: inline-block;
  padding: 0 10px;
  transition: 0.3s;
}
.copyright ul li a:hover{
  color: #c4161c;
}


/*
--------------------------------------------------------------------------
 Widgets Classes
--------------------------------------------------------------------------
*/
/* Scroll top */
#scrolltop {
  color: #C4161C;
  transition: 0.3s;
  font-size: 33px;
  position:fixed;
  right: 30px;
  bottom: 5vh;
  display: none;
  z-index: 1002;
}
#scrolltop:hover {
  color: #0060a7;
  cursor: pointer;
  background: none;
}


/*
--------------------------------------------------------------------------
 Admin Classes
--------------------------------------------------------------------------
*/
.admin-nav-box{
  border: 1px solid #ededed;
}
.admin-nav-header{
  padding: 15px;
  font-weight: bold;
  border-bottom: 1px solid #ededed;
}
.admin-navs{
  padding: 10px 10px 10px 15px
}
.admin-nav-link{
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #ededed;
  color: #000;
}
.admin-nav-link:hover{
  text-decoration: none;
}
.admin-nav-link:first-child{
  padding-top: 0;
}
.admin-nav-link:last-child{
  padding-bottom: 0;
  border-bottom: none;
}

/* Store Related Classes */
.stores{

}
.stores .store{
  padding: 25px;
  text-align: center;
  border: 1px solid #ededed;
  display: inline-block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.stores .store i{
  font-size: 50px;
  color: #0060A7;
  transition: .3s;
}
.stores .store p{
  margin-top: 15px;
  font-size: 18px;
  color: #000;
  line-height: 25px;
}
.stores .store:hover i{
  color: #C4161C
}

/* Cart Classes */
.products .quantity{
  width: 25%;
}
.cart .form-control{
  width: 25%;
}
@media only screen and (max-width: 767px){
  .cart .form-control{
    width: 100%;
  }
}
/* Cart Page Classes */
.qtyController .form-control{
  width:50px;
  padding: 10px;
  display: inline-block;
  border-radius: 0;
  text-align: center;
  border: none;
  vertical-align: middle;
  color: #0060A7;
}
.qtyController .minus, .qtyController .plus{
  background-color: #bababa;
  color: #fff;
  font-size: .9rem;
  line-height: 1.6;
  vertical-align: middle;
}
.qtyController .minus{
  background-color: #C4161C;
}
.qtyController .plus{
  background-color: #0060A7;
}


/* Developer Classes */
.stores .devSubCats{
  position: relative;
}
.stores .devSubCats .actionBtn{
  top: 85%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  display: none;
}
.stores .devSubCats:hover .actionBtn{
  display: block;
}

.devSliders .slider{
  position: relative;
}
.overlay{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff;
  position: absolute;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  transition: .3s;
}
.devSliders .slider:hover .overlay{
  opacity: 1;
}
.components{
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
}
.components .btn{
  display: inline;
}

/* Offer Page */
.offerPageBGC{
  background-color: #F7F8FA;
}
.pageHeader{
  background-image: linear-gradient(-45deg, #dedede, #f0f0f0, #dedede);
  padding: 75px 0;
}
.pageHeader .title{
  text-align: center;
  text-transform: uppercase;
}
.pageHeaderImage .container{
  position: relative;
}
.pageHeaderImage .container img{
  width: 100%;
  border-radius: 10px;
}
.pageHeaderImage .container .shortDescription{
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  bottom: 0;
  position: absolute;
  text-align: center;
  padding: 10px 0;
}

.offerIndexBox{
  border: 1px solid #e0e0e0;
  max-width: 370px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.offerIndexBox img{
  width: 100%;
}
.offerIndexBox .tag{
  background-color: #C4161C;
  color: #fff;
  padding: 5px 35px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 15px;
}
.offerProductDetails .offerPageElement{
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: -5px 5px 10px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 5px 10px -12px rgba(0,0,0,0.75);
  box-shadow: -5px 5px 10px -12px rgba(0,0,0,0.75);
}
.offerProductDetails .productTitle{
  font-size: 20px;
  font-weight: 400;
}
.offerProductDetails .relatedProductTitle{
  font-size: 15px;
  text-align: center;
  color: #000;
}




/* Copied */
.animatedGradient {
  background-image: linear-gradient(-45deg, #C4161C, #ff6a00, #C4161C);
  background-size: 400% 400%;
  -webkit-animation: animatedGradient 15s ease infinite;
  animation: animatedGradient 5s ease infinite;
}
@-webkit-keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
